
<img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
/>

<h2>
  En una plantilla colocaremos el html estático de la manera habitual
</h2>

<h3>
  Expresiones:
</h3>
<!--
  
Una expresión angular se marca con doble llave cuando está en un nodo de texto
Una expresión es algo que se evalua y que da un resultado
Las expresiones pueden ser aritméticas, booleanas, tareas con cadenas de texto...

-->
<h2>

  {{ 100 + 200 }}
  <br/>
  {{ 100 < 200 }}
  <br/>
  {{ "pim "+"pam "+" que"+" nieva."}}
  <br/>
  <!-- 
  Lo verdaderamente interesante de las expresiones es que incluyan VARIABLES 
  Identificaremos las variables dentro de una extresión porque son palabras que no están
  entre comillas
  -->
  {{ mensaje }}
  <br/>
  Resultado: {{ numero1*numero2 }}

</h2>

<hr/>

<table>
  <tr>
    <td>Título:</td>
    <td>
      {{disco.titulo}}
    </td>
  </tr>
  <tr>
    <td>Autor:</td>
    <td>
      {{disco.autor}}
    </td>
  </tr>
  <tr>
    <td>Año:</td>
    <td>
      {{disco.year}}
    </td>
  </tr>
  <tr>
    <td>Genero:</td>
    <td>
      {{disco.genero}}
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>Título</td>
    <td>
      <!-- Esto funciona pero no tiene 'bidirectional binding'
      <input type="text" value="{{disco.titulo}}"/>
      
      BIDIRECTIONAL BINDING

      Para que esté activo es necesario dar de alta el módulo 'FormModule' en la sección 'imports'
      de AppModule

      [(ngModel)]="expresion"    
      -->
      <input type="text" [(ngModel)]="disco.titulo"/>
    </td>
  </tr>
  <tr>
    <td>Autor</td>
    <td>
      <input type="text" [(ngModel)]="disco.autor"/>
    </td>
  </tr>
  <tr>
    <td>Año</td>
    <td>
      <input type="text" [(ngModel)]="disco.year"/>
    </td>
  </tr>
  <tr>
    <td>Genero</td>
    <td>
      <input type="text" [(ngModel)]="disco.genero"/>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <!-- 
      ACCIONES 
      (evento)="expresion que identifica a la funcion que debe invocarse"
      -->
      <button (click)="insertarDisco()">Insertar</button>
    </td>
  </tr>
</table>

<table border="1">
  <tr>
    <th>Título</th>
    <th>Autor</th>
    <th>Año</th>
    <th>Genero</th>
  </tr>
  
  <!--
  Si queremos repetir un elemento tantas veces como valores haya en un array
  usamos *ngFor y en la expresión asociada referenciamos al array
  -->
  <tr *ngFor="let d of discos">
    <td>{{d.titulo}}</td>
    <td>{{d.autor}}</td>
    <td>{{d.year}}</td>
    <td>{{d.genero}}</td>
  </tr>

  <!--
  Para decidir si algo se muestra o no usamos *ngIf y una expresión que si se resuelve
  a true la etiqueta aparece   
  -->
  <tr *ngIf="discos.length == 0">
    <td colspan="4">No hay discos en la tabla</td>
  </tr>
  
</table>

<!--
 Si queremos asignar los estilos dinámicamente no usaremos algo como:
<div class="{{expresion}}"></div>
Para ello hay algo previsto en Angular
<div [ngClass]="expresion"></div> 
-->

<div [ngClass]="estilo">
  HOLA QUE TAL
</div>