<p></p>

<div class="text-center">
    <h2>Alta de usuario</h2>
</div>

<hr/>

<div class="form-group row">
  <label for="product_sku" class="col-sm-2 col-form-label">Correo E.</label>
  <div class="col-sm-10">
    <input type="text" 
           class="form-control"
           required="required"
           id="correoE"
           [(ngModel)]="usuario.correoE"/>
  </div>
</div>
<div class="form-group row">
  <label for="product_name" class="col-sm-2 col-form-label">Password</label>
  <div class="col-sm-10">
    <input type="text" 
           class="form-control"
           [(ngModel)]="usuario.pw"/>
  </div>
</div>
<div class="form-group row">
  <label for="product_name" class="col-sm-2 col-form-label">Nombre</label>
  <div class="col-sm-10">
    <input type="text" 
           class="form-control"
           [(ngModel)]="usuario.nombre"/>
  </div>
</div>
<div class="form-group row">
  <label for="product_name" class="col-sm-2 col-form-label">Dirección</label>
  <div class="col-sm-10">
    <input type="text" 
           class="form-control"
           [(ngModel)]="usuario.direccion"/>
  </div>
</div>
<div class="form-group row">
  <label for="product_name" class="col-sm-2 col-form-label">Teléfono</label>
  <div class="col-sm-10">
    <input type="text" 
           class="form-control"
           [(ngModel)]="usuario.telefono"/>
  </div>
</div>

<hr/>

<div *ngIf="mensaje" class="alert alert-danger">{{mensaje}}</div>

<div class="text-center">
  <input type="button" 
         value="Confirmar" 
         class="btn mr-1 btn-primary" 
         style="width:110px"
         (click)="confirmar()"/>
  <input type="button" 
         value="Cancelar"  
         class="btn mr-1 btn-warning" 
         style="width:110px"
         routerLink="/" />
</div>






