<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tienda', { outlets : { 'primary' : 'perfil', 'barra-derecha' : 'resumenCesta' } }]">{{ usuario.login }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tienda', { outlets : { 'primary' : 'catalogo', 'barra-derecha' : 'resumenCesta' } }]">Catálogo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tienda', { outlets : { 'primary' : 'cesta', 'barra-derecha' : null } }]">Cesta</a>
        </li>
        <li class="nav-item">
            <!--<a class="nav-link" routerLink="/tienda/pedidos">Pedidos</a>-->
            <a class="nav-link" [routerLink]="['/tienda', { outlets : { 'primary' : 'pedidos', 'barra-derecha' : 'resumenCesta' } }]">Pedidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Facturas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Salir</a>
        </li>
    </ul>
  </nav>   
