
<h4 *ngIf="cesta.getDetalles().length==0" class="d-flex justify-content-center mt-4 mb-4">
    Todavía no hay productos en la cesta
</h4>

<div *ngFor="let dp of cesta.getDetalles()">
    <app-detallePedido [detalle]="dp" [cesta]="cesta"></app-detallePedido>
</div>

<div class="d-flex justify-content-center mt-4 mb-4">

    <h4>
        Total {{ cesta.total }} €
        <input type="button" value="Guardar" class="btn btn-primary ml-2" style="width:110px" (click)="guardar()"/>
        <button class="btn btn-primary ml-2"
                [routerLink]="['/tienda', { outlets : { 'primary' : 'confirmacion', 'barra-derecha' : 'resumenCesta' } }]">Comprar</button>
        <button class="btn btn-danger ml-2" (click)="vaciarCesta()">Vaciar</button>
    </h4>

</div>



http://www.ebay.es/mierdas_a_precio_de_oro?x=hvkfuyfiueafhituehyuoijfnewjrkght4woi5tjglhrtoirjgbuh6goiujthuiryhgtuiergntkjhkjgahs