<div class="text-center">
    <button class="btn btn-primary mr-1">Insertar</button>
    <button class="btn btn-primary mr-1">Modificar</button>
    <button class="btn btn-danger  mr-1">Borrar</button>
    <button class="btn btn-warning mr-1">Vaciar</button>
</div>

<div class="row">  

    <div class="col-2 mt-1">
        <label>Título</label>
    </div>
    <div class="col-10 mt-1">
        <input class="form-control"/>
    </div>
    
    <div class="col-2 mt-1">
        <label>Autor</label>
    </div>
    <div class="col-10 mt-1">
        <input class="form-control"/>
    </div>                 
    
    <div class="col-2 mt-1">
        <label>Año</label>
    </div>
    <div class="col-10 mt-1">
        <input class="form-control"/>
    </div>
    
    <div class="col-2 mt-1">
        <label>Genero</label>
    </div>
    <div class="col-10 mt-1">
        <input class="form-control"/>
    </div>
</div>  

<br/>

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Año</th>
        <th>Genero</th>
      </tr>
    </thead>
    <tbody>
        <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>




