<div class="text-center">
    <button class="btn btn-primary mr-1" (click)="insertar()">Insertar</button>
    <button class="btn btn-primary mr-1">Modificar</button>
    <button class="btn btn-danger  mr-1">Borrar</button>
    <button class="btn btn-warning mr-1" (click)="vaciarFormulario()">Vaciar</button>
</div>

<div class="row">  

    <div class="col-2 mt-1">
        <label>Título</label>
    </div>
    <div class="col-10 mt-1">
        <input class="form-control" [(ngModel)]="disco.titulo"/>
    </div>
    
    <div class="col-2 mt-1">
        <label>Autor</label>
    </div>
    <div class="col-10 mt-1">
        <input class="form-control" [(ngModel)]="disco.autor"/>
    </div>                 
    
    <div class="col-2 mt-1">
        <label>Año</label>
    </div>
    <div class="col-10 mt-1">
        <input class="form-control" [(ngModel)]="disco.year"/>
    </div>
    
    <div class="col-2 mt-1">
        <label>Genero</label>
    </div>
    <div class="col-10 mt-1">
        <input class="form-control" [(ngModel)]="disco.genero"/>
    </div>
</div>  

<br/>

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Año</th>
        <th>Genero</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of discos">
            <td>{{d.titulo}}</td>
            <td>{{d.autor}}</td>
            <td>{{d.year}}</td>
            <td>{{d.genero}}</td>
        </tr>
    </tbody>
</table>




